%footer.py-3.footer.mt-auto
  %ul.nav.justify-content-center.border-bottom.pb-2.mb-2
    %li.nav-link.px-2.text-muted
      %a.nav-link.px-2.text-muted{ href: '/' } Home
    %li.nav-link.px-2.text-muted
      %a.nav-link.px-2.text-muted{ href: 'contact' } Contact
    %li.nav-link.px-2.text-muted
      %a.nav-link.px-2.text-muted{ href: 'about' } About
  .text-center.text-muted
    &copy; 2022 Justin's Engineering Services, LLC
