%header.d-flex.flex-wrap.justify-content-center.py-1.mb-1
  %a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-dark.text-decoration-none{ href: '/' }
    %img.bi.me-2{ src: 'images/SVG_2.svg', width: 40, height: 32 }
    %span.fs-4.text-light J.E.S.
  %ul.nav
    %li.nav-item
      %a.nav-link{ href: 'contracting' } Contracting
    %li.nav-item
      %a.nav-link{ href: 'website' } Website Design
    %li.nav-item
      %a.nav-link{ href: 'custom_cables' } Custom Cables
