---
title: J.E.S. - Home
---

%h1.my-2.py-2 Justin's Engineering Services

.container-fluid
  .row.justify-content-evenly
    .card.col-sm-3
      %img.card-img-top{ src: 'images/sahand-babali-arduino.jpg', alt: 'microcontroller' }
      .card-body
        %h5.card-title Engineering Services
        %p.card-text I special in IOT and Web Application desing and creation.
        %a.btn.btn-light Contact
    .card.col-sm-3
      %img.card-img-top{ src: 'images/haml-code.png', alt: 'code' }
      .card-body
        %h5.card-title Static Website Desing
        %p.card-text I create static websites using Middleman with Bootstrap and Javascript.
        %a.btn.btn-light Contact
    .card.col-sm-3
      %img.card-img-top{ src: 'images/alphacolor-headphones.jpg', alt: 'headphones' }
      .card-body
        %h5.card-title Custom Audio Cables
        %p.card-text I create custom shielded audio cables with connectors of your choice.
        %a.btn.btn-light Design A Cable
